<div ng-controller="SearchController as sc">
  <input type="text" placeholder="movie title key word" ng-model="sc.searchIn" />
  <button ng-click="sc.getSearch()">Submit Search</button>
    <div class="container row">
    <div ng-repeat="thing in sc.movies" class="col-md-4">
        {{ thing.Title }}<br>
        {{ thing.Year }}<br>
        <img ng-src="{{thing.Poster}}">
        <button ng-click="sc.saveFavorite(thing.imdbID,thing.Title,thing.Year,thing.Poster)">Favorite</button>
    </div>
  </div>
</div>
